*
{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Freight Big Pro', serif;

   

}

html, body
{
  height: 100%;
  width: 100%;
  /* position: relative; */
  
  

}
.elem
{
  /* display:none; */
  /* background-color: red; */
  width: 100%;
  position: relative;
 
}
.elem h2{
  font-size: 9vw;
 text-transform: uppercase;
 font-weight: 500;
 position: relative;
 line-height: 7.5vw;
 z-index: 9;
 cursor: pointer;

}
.elem .moving
{
    /* background-color: lightblue; */
    width: 100%;
    white-space: nowrap;
    position: absolute;
    padding: 4px;
    top: 50%;
    transform: translate(0,-45%) scaleY(0);
    padding: 8px 0;
    transition: all ease 0.5s;
    background-color:#F3E41A;
    cursor: pointer;
    transition: all ease 0.2s;
    /* opacity: 0; */
    
}
.elem .moving .moving-in
{
       /* background-color: lightseagreen; */
       white-space: nowrap;
       display: inline-block;
       animation-name: moving;
   animation-duration: 29s;
   
   height: 100%;
   
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
.elem .moving .moving-in h5 {
  color: black;
  display: inline-block;
   font-size: 20px;
   font-family: 'Courier New', Courier, monospace;
   text-transform: uppercase ;
   margin-right: 35px;
  
   transition: all ease 0.2s;
   opacity: 0;
   transition-delay: 0.2s;
   
   cursor: pointer;
   
}
.elem .blur
{
  position : absolute;
  width: 30%;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 50%;
  background: linear-gradient(to right, #f3e51ae8,#F3E41A,#f3e51aea);
  box-shadow: 10px 0px 20px  #F3E41A;
  height: 100%;
  z-index: 8;
}
.elem:hover .moving
{
  transform: translate(0,-45%) scaleY(1);
    transition: 0.5s all linear;
    opacity: (1);
}
.elem:hover .moving h5
{
    opacity: 1;
}
.elem:hover  h2
{
    font-style: italic;
    
}
@keyframes moving{
  from
  {
    transform: translateX(0);
  }
  to
  {
    transform: translateX(-100%);
  }

}
.main
{
  background-color: black;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.nav
{
  position : fixed;
  width: 100%;
  padding: 30px 40px;
  z-index: 5;
  /* background: #c41515; */


}
.nav svg path
{
  fill: black;
  
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: #F3E41A;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.page1 h1
{
  font-size: 6.9vw;
  line-height: 6vw;
  font-weight: 100;
  letter-spacing: -3px;
}
.loader h1
{
  font-size: 6.9vw;
  line-height: 6vw;
  font-weight: 100;
  letter-spacing: -3px;
  position: relative;
  z-index: 9;
}
.page2 {
  height: 100vh;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  transition: all ease 0.5s;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page3 {
  height: 100vh;
  width: 100%;
  background-color: white
}
.loader video 
{
   height: 100%;
   width: 100%;
   position: absolute;
   object-fit: cover;
   z-index: 6;
}
.loader
{
  height: 100vh;
  width: 100%;
  background-color: black;
  position: fixed;
  position: absolute;
  color: white;
  display :flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}
.yellow1
{
  width: 100%;
  height: 100%;
  background-color: #F5E41B;
  z-index: 8;
  position: absolute;
}
.yellow2
{
  width: 100%;
  height: 100%;
  background-color: #F5E41B;
  z-index: 7;
  position: absolute;
}